.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgb(255, 94, 0), rgb(143, 133, 49));
}

.column {
  position: relative;
}

.container {
  position: absolute;
  width: 414px;
  height: 896px;
  left: -207px;
  overflow: hidden;
}

.player-wrapper {
  position: relative;
  padding-top: 46.67%;
  /* Player ratio: 100 / (896 / 414) */
  /*width: 414px;
    height: 896px;*/
}

.react-player {
  position: absolute;
  bottom: 0;
  left: 0;
}

.explore-page {
  position: absolute;
  top: 0;
  width: 100%;
}